/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url(https://db.onlinewebfonts.com/c/4de2b5d069a40f0ff08c4e88cda48a7a?family=Silk+Serif+Light+Italic);
*{
    margin : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
    color : white;

}
@font-face {
    font-family: 'silk serif' 'plain light';
    src: url('fonts/KFOlCnqEu92Fr1MmEU9fBBc4.ttf') format('truetype'),
         url('fonts/KFOmCnqEu92Fr1Mu4mxK.ttf') format('truetype'),
         url('fonts/plain-light-webfont.ttf') format('truetype'),
         url('fonts/plain-regular-webfont.ttf') format('truetype'),
         url('fonts/silkserif-lightitalic-webfont.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
  }
body{
        background-color : #151515;
        cursor: none;
        font-family: 'silk serif','plain light', sans-serif;
}

#main{
    position : relative;
    overflow : hidden;
    font-family: 'silk serif','plain light', sans-serif;
}   
#loader{
    height : 100%;
    width : 100%;
    background-color : #0B0B0B;
    padding : 24vh 3vw;
    position : fixed;
    z-index: 999;
}

.line{
    
    overflow-y : hidden;
    text-transform : uppercase;
    
}
.line h1{
    font-size : 6.5vw; 
    font-family : "plain light";
}

#line1-part1{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack : start;
        -ms-flex-pack : start;
            justify-content : flex-start;
    gap : 2vw;
}
#line1-part1 h3{
    font-size : 3.5vw;
    font-family : "silk serif";
    font-weight : 400;
    margin-left : 1vw;
    
}
#line1-part1 h3 span{
    text-align : end;
    display : inline-block;
    width : 6vw;
}
.line:nth-child(3){
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height : 9vw;
}
.line:nth-child(3) h1{
    margin-right : 2vw;
}
#now-span{
    font-weight : 400;
    font-size : 7vw;
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration : 2s;
            animation-duration : 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}


@-webkit-keyframes anime{
  0%{
    font-family : "plain light";
    opacity : 1;
    color : #fff;
    
  }
  48%{
    font-family : "plain light";
    opacity : 0;
    color : #fff;

}
50%{
    font-family : "silk serif";
    opacity : 1;
    color : white;
    -webkit-text-stroke: 1px #fff;
    color : transparent;
}
100%{
    font-family : "silk serif";
    opacity : 0;
    color : white;
    -webkit-text-stroke: 1px #fff;
    color : transparent;
}
}


@keyframes anime{
  0%{
    font-family : "plain light";
    opacity : 1;
    color : #fff;
    
  }
  48%{
    font-family : "plain light";
    opacity : 0;
    color : #fff;

}
50%{
    font-family : "silk serif";
    opacity : 1;
    color : white;
    -webkit-text-stroke: 1px #fff;
    color : transparent;
}
100%{
    font-family : "silk serif";
    opacity : 0;
    color : white;
    -webkit-text-stroke: 1px #fff;
    color : transparent;
}
}

#tagline{
    font-family : "plain light";
    font-weight : 400;
    font-size : 1.8vh;
    position : absolute;
    bottom : 8vw;
    left : 30vw;

}
#page1{
    min-height : 90vh;
    width : 100%;
    background-color : #151515;
    position: relative;
}
#page1 #navbar{
    display :-webkit-box;
    display :-ms-flexbox;
    display :flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack : justify;
        -ms-flex-pack : justify;
            justify-content : space-between;
}
#navbar #nav-part1{
    height : 2vh;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -ms-flex-pack : distribute;
        justify-content : space-around;
    gap : 1.4vw;

}


#nav-part3{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    gap : 1.8vw;
    -webkit-box-pack : 4vw;
        -ms-flex-pack : 4vw;
            justify-content : 4vw;
}
#nav-part3 h3{
   
    font-size : 1.8vh;
    font-weight : 400;
}
#navbar{
    font-family : "plain light";
    height : 13vh;
    padding : 0 4.2vw;
}
#nav-part2 h3{
    font-size : 1.7vh;
    font-weight : 500;
    margin-right :37vw;
    line-height: 1.1;
    margin-top : 8%;
}
#menu{
    height : 1.5vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
#full-menu{
    height : 100vh;
    width : 100vw;
    background-color: #151515;
    position : absolute;
    z-index : 9999;
    padding : 0 3vw;
    display: none;
    overflow : hidden;
}
#menu-content{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}
#top-menu{
    height : 10vh;
    width : 100%;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap : 2vw;
    padding : 0 5vw;
}
#top-menu img{
    width : 100%;
    height : 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#full-menu h1{
    color : white;
    font-family : "plain light";
    font-size : 7vw;
    text-transform: uppercase;

}
#full-menu-logo{
    width : 5vw;
}
#menu-part1{
    padding-top: 4vw;

}
#menu-part2{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    color : white;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6vw 0 0 22vw;
}
#menu-after{
    height : 1.5vh;
    width : 1.5vw;
}
#menu-after button {
    background: transparent;
    border : none;

}
#menu-after img{
    height : 100%;
    width : 100%;
    -o-object-fit: cover;
       object-fit: cover;

}
#menu-part2 h2{
    font-size : 1.5vw;
    font-family: "plain light";
    font-weight: 500;

}
#menu-part2 h6{
    font-size : .8vw;
    font-family: "plain light";
    margin-bottom : 1.5vw;
    font-weight:500;
}
#first-box,#second-box,#third-box{
    margin-bottom: 1.5vw;
}
#dot-menu{
    width : 100%;
    height : 100%;
    -o-object-fit : cover;
       object-fit : cover;
}
#logo{
    height: 4.7vw;
    width : -webkit-fit-content;
    width : -moz-fit-content;
    width : fit-content;
    margin-top : .3vw;
}
#logo img{
    height : 100%;
    width : 100%;
}
#container h1{
    font-size : 7.3vw;
    font-family : "plain regular";
    text-transform : uppercase;
    line-height : 7.2vw;
    font-weight : 500;
    z-index: 9;
  
}
#container{
    padding-left : 27vw;
    padding-top : 14vh;
    position : relative;
   

}
#container::before{
    content : "01";
    font-family: "silk serif";
    position : absolute;
    left : -7.8vw;
    font-size: 3vw;
    font-weight: 500;
}
#container h1:nth-child(4){
    border-bottom : .6vw solid #fff;
}
#container h1 span{
    margin : 0 5px;
}
#container h1:nth-child(4){
    line-height: 6vw;
}
.flag-hero{
    position: relative;
    z-index : 1;
}
#flag {
    height : 28vw;
    width : 20vw;
    position : absolute;
    display : none;
    -webkit-transform : translate(-50%,-50%);
        -ms-transform : translate(-50%,-50%);
            transform : translate(-50%,-50%)
}
#flag img{
    height : 100%;
    width : 100%;
    -o-object-fit : cover;
       object-fit : cover;
}

.hero{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y : hidden;
    width : -webkit-fit-content;
    width : -moz-fit-content;
    width : fit-content;
    
}
.hero span{
    font-size : 7vw;
    font-family: "plain light";
    font-weight: 600;
    margin : 0 0 1vw 1vw;
}

.hero:nth-child(3) h1{
    border-bottom: .6vw solid #fff;
    letter-spacing: 1px;
}
.hero:nth-child(3) h1:hover{
    color : transparent;
    -webkit-text-stroke: 1px #fff;
    border-bottom-color: transparent;
}

#scroll h3{
    font-family : "plain light";
    font-weight : 400;
    color : gray;
    font-size : .8vw;
    position : absolute;
    left : -30%;
    bottom : -5%;
    overflow-y : hidden;
}
#page2{
    position : relative;
    min-height : 70vh;
    width : 100%;
    background-color : #151515;
    margin-bottom: 30vh;
             
}
#crsr{
    height :2.5vw;
    width : 2.5vw;
    background-color : transparent;
    border-radius : 50%;
    border : .1px solid #fff;
    position : absolute;
    -webkit-transform : translate(-50%,-50%);
        -ms-transform : translate(-50%,-50%);
            transform : translate(-50%,-50%);
    z-index : 999;
    -webkit-transition : all ease .2s;
    -o-transition : all ease .2s;
    transition : all ease .2s;
}
#container2{
    height : 70vh;
    width: 80vw;
    margin-left :35vw;
    position : relative;
    margin-top : 10vw;
}
#container2 video{
    height : 100%;
    width : 100%;
    -o-object-fit: cover;
       object-fit: cover;
       overflow : hidden;
}
#container2 img{
    height : 100%;
    width : 100%;
    position: absolute;
    overflow : hidden;
}

#video-play-btn{
    height : 9vw;
    width : 9vw;
    background-color : #FFA63D;
    position : absolute;
    border-radius : 50%;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack : center;
        -ms-flex-pack : center;
            justify-content : center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 70%;
    top : -5%;
}

#video-play-btn img{
    height : 1.3vw;
    width :  1.3vw;
}
#page3{
    min-height : 100vh;
    width : 100%;
    background-color : #151515;
    margin-top: 10vw;
    padding : 4.3vw;

}
#page3 h1::before{
        content : "02";
        font-family: "silk serif";
        position : absolute;
        left : 23vw;
        font-size: 3vw;
        font-weight: 500;
}

#page3 h1,#page4 h1, #page6 h1{
    font-size : 7vw;
    font-family : "plain light";
    font-weight : 600;
    text-transform: uppercase;
    margin-left : 27vw;
    letter-spacing: 2px;
    
}
.underline{
    height : .1vw;
    width : 68%;
    background-color : gray;
    margin-left : 27vw;
    margin-top : 3vw;
    margin-bottom : 4vw;

}
.line1{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}
.box{
    height : 87vh;
    width : 22vw;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-pack : start;
        -ms-flex-pack : start;
            justify-content : flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #fff;
    -ms-flex-negative : 0;
        flex-shrink : 0;

}
.box h2{
    font-family : "plain light";
    font-size : 2vw;
    text-transform: uppercase;
    font-weight: 600;
    margin : 2.3vw 0;
}
.img-div{
    height : 60vh;
    overflow : hidden;
    position : relative;
}
.img-div img{
    width : 100%;
    height : 100%;
    -o-object-fit : cover;
       object-fit : cover;
}
.box:nth-child(2),.box:nth-child(5),.box:nth-child(6),.box:nth-child(9){
    width : 33vw;
    height : 55vw;
}
.box:nth-child(2) .img-div,.box:nth-child(5) .img-div{
    height : 45vw;
}
#name-year{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-pack : justify;
        -ms-flex-pack : justify;
            justify-content : space-between;
    margin : 1.5vw 0;
}
#name-year h5, h3{
    font-family : "plain regular";
    font-size : .9vw;
    font-weight : 400;
}
#page2-content{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -ms-flex-wrap : wrap;
        flex-wrap : wrap;
    gap : 1.5vw;
}

.box:nth-child(3){
    height : 87vh;
    width : 33vw;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : end;
        -ms-flex-align : end;
            align-items : flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top : 10vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0);


}
.box:nth-child(8){
    border-bottom: 1px solid #ffffff00;
    height : 87vh;
    width : 33vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.box .round{
    height : 21vw;
    width : 21vw;
    border-radius : 50%;
    border : 1px solid #fff;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.round img{
    height : 10vw;
    width : 10vw;
    rotate : 45deg;
    position : relative;
}
.round:hover .white-content{
    opacity : 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.round:hover .white-content{
    opacity : 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.white-content{
    height : 21vw;
    width : 21vw;
    border-radius : 50%;
    background-color : white;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position : absolute;
    opacity : 0;
    -webkit-transform : scale(0);
        -ms-transform : scale(0);
            transform : scale(0);
    -webkit-transition : all ease .3s;
    -o-transition : all ease .3s;
    transition : all ease .3s;
}
.white-content p{
    color : black;
    width : 60%;
    font-family: "plain light";
    font-weight : 500;
}
@-webkit-keyframes p-text {
    0%{
        opacity : 0;
    }
    100%{
        opacity : 1;
    }
}
@keyframes p-text {
    0%{
        opacity : 0;
    }
    100%{
        opacity : 1;
    }
}
.box:nth-child(4){
    height : 87vh;
    width : 22vw;
    -webkit-box-align : start;
        -ms-flex-align : start;
            align-items : start;
    margin-top : 0vw;
    border-bottom : 1px solid #ffffff00;
}

.box:nth-child(4) img{
    rotate : -10deg;
}

.box:nth-child(6){
    margin-top : -5vw;
}
.box:nth-child(6) .img-div{
    height : 45vw;
}
.box:nth-child(9){
    margin-top : 5vw;
}
.box:nth-child(9) .img-div{
    height : 45vw;
}
.box:nth-child(7){
    margin-top : -13vw;
}
.box:nth-child(8) img{
    rotate : -45deg;
}
.box:nth-child(10) .round{
    background-color : #FFA63D;
    border : none;
    -webkit-transition : all ease .2s;
    -o-transition : all ease .2s;
    transition : all ease .2s;
}
.box:nth-child(10) .round h6{
  font-family: "plain light";
  margin-right : .3vw;
  font-size: .8vw;
  font-weight: 500;
    
}
.box:nth-child(10) .round h6 span{
    font-family: "silk serif";
      
  }
  .box:nth-child(10) .round:hover{
    -webkit-transform : scale(.9);
        -ms-transform : scale(.9);
            transform : scale(.9);
  }
.box:nth-child(10){
    height : 50vh;
    width : 100%;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ffffff00;
}
#page4 h1{
    margin-left : 37vw;
}
#page4 h1::before{
    content : "03";
    font-family: "silk serif";
    position : absolute;
    top : -5%;
    left : 30%;
    font-size: 3vw;
    font-weight: 500;
}
#page4 {
    min-height : 200vh;
    width : 100%;
    background-color : #151515;
    margin-top: 15vw;
    position: relative;
    
}
#page4-content{
    margin-left : 27vw;
}
#page4-img{
    height : 44vw;
    width : 34vw;
    position : relative;
}
#page4-img img{
    height : 100%;
    width : 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#first-p p{
    font-size : 2vw;
    width : 34.8vw;
    font-family : "plain light";
    margin-bottom : 3vw;
    line-height: 2.3vw;
    font-weight: 500;
    margin-top: 1vw;
}
#second-p p{
    font-size : 1.8vh;
    font-family : "plain light";
    line-height: 2.5vh;
    font-weight: 500;
}
#page4-part2{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}
#second-p{
    width : 14.7vw;
    margin-left : 1.8vw;
}
#blue-content{
    background-color : #3F7DF4;
    height : 33.5vw;
    width : 33vw;
    padding : 3.5vw 3vw;
    position : absolute;
    top : 58%;
    left : 70%;
}
#page5{
    min-height : 100vh;
    width : 100%;
    background-color :#151515;
    
}
.column{
    height : 5.3vw;
    width : 100%;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom : 1px solid #fff;
}
.column h3{
    font-family : "plain light";
    font-size : 1.5vw;
    font-weight: 500;
}
.column h5{
    width : 10vw;
    font-family : "plain light";
    font-weight : 500;
    font-size : .8vw;
    margin-right : 1vw;;
}
#page5 h5{
    font-family: "plain light";
    margin-left : 27vw;
    margin-top : -2.5vw;
    font-size : .8vw;
    font-weight : 500;
}
.elem, .elem2{
    overflow-x : auto;
    white-space : nowrap;
    margin : -3vw;
    
}
.elem h1, .elem2 h1{
    text-transform: uppercase;
    display : inline-block;
    font-size: 7vw;
    font-family : "plain light";
    font-weight: 400;
    color : transparent;
    -webkit-text-stroke: .8px #fff;
    -webkit-animation-name: text-loop;
            animation-name: text-loop;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: noraml;
            animation-direction: noraml;

}
.elem .dash, .elem2 .dash{
    font-family : "plain light";
}
.elem span, .elem2 span{
    font-family : "silk serif";
    font-weight : 400;
    color : transparent;
    -webkit-text-stroke: .8px #fff ;
}
.elem::-webkit-scrollbar, .elem2::-webkit-scrollbar{
    display : none;
}
@-webkit-keyframes text-loop {
     from{
        -webkit-transform : translateX(0);
                transform : translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 4px));
                transform: translateX(calc(-100% - 4px));
    }
}
@keyframes text-loop {
     from{
        -webkit-transform : translateX(0);
                transform : translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 4px));
                transform: translateX(calc(-100% - 4px));
    }
}
.elem2 h1{
    -webkit-animation-name: text-loop;
            animation-name: text-loop;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}
#loop-content{
    margin-top : 8vw;
}
#page6{
    margin-top: 15vw;
    min-height : 100vh;
    width : 100%;
    background-color :#151515; 
}
#page6 h1::before{
    content : "04";
    font-family: "silk serif";
    position : absolute;
    left : 20vw;
    font-size: 3vw;
    font-weight: 500;
}
#footer{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    margin-left : 22vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#footer{
    font-family : "plain light";
    padding : 5vw;
}
#email{
    margin-right : 6vw;
}
#social h6,#Address h6,#email h6{
    font-size : .9vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

#social h2,#Address h2, #email h2{
    font-weight: 500;
    font-size: 1.4vw;
}
#email h2{
    text-decoration: underline;
}
#page6 h3{
    font-weight: 500;
    margin-left: 27vw;
    margin-bottom: 3vw;
    margin-top: -1vw;
}

@media (max-width : 600px) {
    body{
        background-color : #151515;
        cursor: none;
        font-family: 'silk serif','plain light';
}
    #crsr{
        display : none;
    }
    #loader{
        padding : 30vh 5vw;
    }
    .line h1{
        font-size : 8vw;
        margin-bottom : 3vw; 
    }
    #line1-part1{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-align : center;
            -ms-flex-align : center;
                align-items : center;
        -webkit-box-pack : start;
            -ms-flex-pack : start;
                justify-content : flex-start;
        gap : 2vw;
    }
    #line1-part1 h3{
        font-size : 3.5vw;
        font-family : "silk serif";
        font-weight : 400;
        margin-left : 1vw;
        
    }
    #line1-part1 h3 span{
        text-align : end;
        display : inline-block;
        width : 6vw;
    }
    .line:nth-child(3){
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height : 8vw;
    }
    .line:nth-child(3) h1{
        margin-right : 2vw;
        font-size: 7vw;
    }
    #now-span{
        margin-top : -2.5vw;
        font-weight : 400;
        font-size : 7vw;
        -webkit-animation-name: anime;
                animation-name: anime;
        -webkit-animation-duration : 2s;
                animation-duration : 2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    
    #line1-part1{
        display : -webkit-box;
        display : -ms-flexbox;
        display : initial;
        -webkit-box-align : center;
            -ms-flex-align : center;
                align-items : center;
        -webkit-box-pack : start;
            -ms-flex-pack : start;
                justify-content : flex-start;
        gap : 0vw;
    }
    #tagline{
        left : 40vw;
    }
    #page1{
        min-height : 60vh;

    }
    #navbar{
        height : 18vw;
        padding : 0 5vw;
    }
    #nav-part1 #menu{
        height : 3.5vw;
        width : 3.5vw;
    }
    #nav-part1 #logo{
        height : 20vw;
        width : 20vw;
    }

  #navbar #nav-part1{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width : 100%;

    }
    #nav-part3{
        display : none;
    }
    
    #nav-part2{
        display : none;
    }


    #menu-content{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding :0 4vw;
    }
    #top-menu{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding : 0 5vw;
    }

    #full-menu h1{
        font-size : 10vw;
    
    }
    #full-menu-logo{
        width : 30vw;
    }
    #menu-part1{
        padding: 25vw 0; 
    }
    #menu-part2{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding : 27vw 0 0 0;
    }
    #menu-after{
        height : 5vw;
        width :5vw;
    }

    #menu-part2 h2{
        font-size : 6vw;
        text-decoration: underline;
    
    }
    #menu-part2 h6{
        font-size : 4.5vw;
        margin-bottom : 5vw;

    }
    #first-box,#second-box{
        display : none;
    }

    #container h1{
        font-size : 9vw;
        line-height : 10vw;
    }
    #container{
        padding-left : 5vw;
        padding-top : 15vh;

    }
    #container::before{
        left : 5.5%;
        top : 28%;
        font-size: 4.8vw;

    }

    #container h1 span{
     margin: 0;
    }


    #container2{
        height : 60vh;
        width: 100vw;
        margin-left :0vw;
        margin-top : 0vw;
    }
    
    #container2 img{
        -o-object-fit : cover;
           object-fit : cover;
    }
    
    #video-play-btn{
        height : 25vw;
        width : 25vw;
        left: 50%;
        top : 50%;
    }
    
    #video-play-btn img{
        height : 3vw;
        width :  3vw;
    }
    #page2{
        position : relative;
        min-height : 70vh;
        width : 100%;
        background-color : #151515;
        margin-bottom: 0vh;
                 
    }
    
    #page3{
        min-height : 100vh;
        width : 100%;
        background-color : #151515;
        margin-top: 0vw;
        padding : 4.3vw;
        position: relative;
    
    }
    #page3 h1::before{
            content : "02";
            font-family: "silk serif";
            position : absolute;
            left : 5%;
            top : -.5%;
            font-size: 4.7vw;
            font-weight: 500;
    }
    #page3 h1{
        font-size : 9.5vw;
        font-family : "plain regular";
        font-weight : 500;
        margin-left : 0vw;
        letter-spacing: 0px;
    }

    .underline{
        height : .1vw;
        width : 100%;
        background-color : #fff;
        margin-left : 0vw;
        margin-top : 8vw;
        margin-bottom : 12vw;
    
    }
    .line1{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
    }
    .box{
        height : 90vh;
        width : 100%;
    }
    .box h2{

        font-size : 6vw;
        font-weight: 500;
        margin : 5vw 0;
    }

    .img-div{
        height : 65vh;
    }

    .box:nth-child(2),.box:nth-child(5),.box:nth-child(6),.box:nth-child(9){
        width : 100%;
        height : 90vh;
    }
    .box:nth-child(2) .img-div,.box:nth-child(5) .img-div{
        height : 90vh;
    }
    #name-year{

        margin : 6vw 0;
    }
    #name-year h5, h3{
        font-family : "plain regular";
        font-size : 3.5vw;
        font-weight : 400;
    }
    #page2-content{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -ms-flex-wrap : wrap;
            flex-wrap : wrap;
        gap : 1.5vw;
    }
    
    .box:nth-child(3){
  
        display : none;
    
    }
    .box:nth-child(8){

        display : none;
    }

    @-webkit-keyframes p-text {
        0%{
            opacity : 0;
        }
        100%{
            opacity : 1;
        }
    }

    @keyframes p-text {
        0%{
            opacity : 0;
        }
        100%{
            opacity : 1;
        }
    }
    .box:nth-child(4){
        height : 87vh;
        width : 22vw;
        -webkit-box-align : start;
            -ms-flex-align : start;
                align-items : start;
        margin-top : 0vw;
        border-bottom : 1px solid #ffffff00;
        display :none;
    }
    
    .box:nth-child(6){
        display : none;
    }
    .box:nth-child(6) .img-div{
        height : 9vh;
    }
    .box:nth-child(9){
        margin-top : 0vw;

    }
    .box:nth-child(9) .img-div{
        height : 90vh;
    }
    .box:nth-child(7){
        margin-top : 0vw;
    }

    .box:nth-child(10) .round h6{
      font-size: 3vw;        
    }
    .box:nth-child(10){
        height : 60vh;
        border-bottom: 1px solid #ffffff00;

    }
    .box:nth-child(10) .round{
        background-color : #FFA63D;
        -webkit-transition : all ease .2s;
        -o-transition : all ease .2s;
        transition : all ease .2s;
        height : 40vw;
        width : 40vw;
    }

    #page4 h1::before{
        top : -2.5%;
        font-size: 6vw;
    }
    #page4 h1{
        padding-left : 5vw;
    }
    #page4 {
        min-height : 210vh;;
        margin-top: 0vw;
        position: relative;
    }
    #page4-content{
        margin-left : 0vw;
        padding : 0 5.7vw;
    }
    #page4-img{
        height : 70vh;
        width : 100%;
    }
    #page4-img img{
        height : 100%;
        width : 100%;
    }
    #first-p p{
        font-size : 6vw;
        width : 99%;
        margin-bottom : 8vw;
        line-height: 1.4;
        font-weight: 500;
        margin-top: 0vw;
    }
    #second-p p{
        font-size : 4vw;
        line-height: 5.8vw;
        margin-bottom: 6vw;
    }
    #page4-part2{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    #second-p{
        width : 90%;
        margin-left : 0vw;
    }
    #blue-content{

        height : 70%;
        width : 100%;
        padding : 3vw 5vw;
        position : relative;
        top : -10%;
        left : 0;
    }

    .column{
        height : 15vw;
    }
    .column h3{
        font-size : 3.8vw;
        font-weight: 500;
    }
    .column h5{
        width : 50vw;
        font-weight : 500;
        font-size : 3.8vw;
        margin-right : 1vw;;
    }
    #page5 h5{

        margin-left : 3vw;
        margin-top : 0vw;
        font-size : 4vw;
        font-weight : 500;
    }
    .elem, .elem2{
        overflow-x : auto;
        white-space : nowrap;
        margin : -3vw;
        
    }
    .elem h1, .elem2 h1{
        font-size: 9vw;

    
    }
    #page5{
        min-height : 60vh;
    }
    #page6{
        margin-top: 0vw;
        min-height : 100vh;
        width : 100%;
        background-color :#151515; 
        position: relative;
    }
    #page6 h1{
        margin-left : 0vw;
        padding-left : 5vw;
        font-size: 9vw;
    }
    #page6 h1::before{
        content : "04";
        font-family: "silk serif";
        position : absolute;
        left : 5vw;
        top : -9vw;
        font-size: 4.5vw;
        font-weight: 500;
    }
    #footer{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        margin-left : 0vw;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    #footer{
        font-family : "plain light";
        padding : 0vw;
        padding-left : 5vw;
    }
    #email{
        margin-right : 0vw;
    }
    #social h6,#Address h6,#email h6{
        font-size : 4vw;
        font-weight: 500;
        margin-bottom: 5vw;
        margin-top: 5vw;
    }
    
    #social h2,#Address h2, #email h2{
        font-weight: 500;
        font-size: 6vw;
        
    }
    #email h2{
        text-decoration: underline;
    }
    #page6 h3{
        padding-left : 5vw;
        font-weight: 500;
        margin-left: 0vw;
        margin-bottom: 3vw;
        margin-top: -1vw;
        font-size: 3vw;
    }

}
@media (min-width : 601px) and (max-width : 820px){


    .line h1{
        font-size :8vw; 

    }

    #tagline{
        left : 43%;
    
    }
    #page1{
        min-height : 70vh;
        width : 100%;
        background-color : #151515;
        position: relative;
    }

    #navbar #nav-part1{
        gap : 3vw;
    
    }

    #crsr{
        display  : none;
    }
    #nav-part3{
        gap : 3vw;
    }
    #nav-part3 h3{
       
        font-size : 1.5vh;
        font-weight : 600;
    }
    #navbar{
        height : 10vh;
        padding : 0 4vw;
    }
    #nav-part2 h3{
        font-size : 1.4vh;
        font-weight : 600;
    }
    #menu{
        height : 1.5vh;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    #full-menu{
        height : 100vh;
        width : 100vw;
        background-color: #151515;
        position : absolute;
        z-index : 9999;
        padding : 0 3vw;
        display: none;
        overflow : hidden;
    }
    #menu-content{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        flex-direction : column;
    }
    #top-menu{
        height : 10vh;
        width : 100%;

        padding : 0 5vw;
        justify-content: space-between;
    }
    #top-menu img{
        width : 100%;
        height : 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    #full-menu h1{
        font-size : 10vw;
        margin-bottom : 5vw;
    
    }
    #full-menu-logo{
        width : 12vw;
    }
    #menu-part1{
        padding-top: 4vw;
    
    }
    #menu-part2{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        color : white;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0vw 0 0 0vw;
        margin-top : 30vw;
        
    }
    #menu-after{
        height : 3vh;
        width : 3vw;
    }
    #menu-after button {
        background: transparent;
        border : none;
    
    }
    #menu-after img{
        height : 100%;
        width : 100%;
        -o-object-fit: cover;
           object-fit: cover;
    
    }
    #menu-part2 h2{
        font-size : 5vw;

        text-decoration: underline;
    
    }
    #menu-part2 h6{
        font-size : 3vw;
        font-family: "plain light";
        margin-bottom : 1.5vw;
        font-weight:500;
    }
    #first-box,#second-box{
        margin-bottom: 1.5vw;
        display : none;
    }

    #dot-menu{
        width : 100%;
        height : 100%;
        -o-object-fit : cover;
           object-fit : cover;
    }
    #logo{
        height: 9vw;

    }
    #logo img{
        height : 100%;
        width : 100%;
    }
    #container h1{
        font-size : 13vw;
        line-height : 13vw;
    }
    #container{
        padding-left : 4vw;
        padding-top : 15vh;

    }
    #container::before{
        left : 4%;
        top : 17%;
        font-size: 4vw;
    }
    #container h1:nth-child(4){
        border-bottom : .6vw solid #fff;
    }
    #container h1 span{
        margin : 0 5px;
    }
    #container h1:nth-child(4){
        line-height: 6vw;
    }
    .flag-hero{
        position: relative;
        z-index : 1;
    }
    #flag {
        height : 28vw;
        width : 20vw;
        position : absolute;
        display : none;
        -webkit-transform : translate(-50%,-50%);
            -ms-transform : translate(-50%,-50%);
                transform : translate(-50%,-50%)
    }
    #flag img{
        height : 100%;
        width : 100%;
        -o-object-fit : cover;
           object-fit : cover;
    }
    
    .hero{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -webkit-box-align : center;
            -ms-flex-align : center;
                align-items : center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        overflow-y : hidden;
        width : -webkit-fit-content;
        width : -moz-fit-content;
        width : fit-content;
        
    }
    .hero span{
        font-size : 7vw;
        font-family: "plain light";
        font-weight: 600;
        margin : 0 0 1vw 1vw;
    }
    
    .hero:nth-child(3) h1{
        border-bottom: .6vw solid #fff;
        letter-spacing: 1px;
    }
    .hero:nth-child(3) h1:hover{
        color : transparent;
        -webkit-text-stroke: 1px #fff;
        border-bottom-color: transparent;
    }
    #page2{
        position : relative;
        min-height : 60vh;
        width : 100%;
        background-color : #151515;
        margin-bottom: 0vh;
                 
    }

    #container2{
        height : 50vh;
        width: 100vw;
        margin-left :0vw;
        position : relative;
        margin-top : 10vw;
      
    }
    #container2 video{

           overflow : hidden;
    }
    #container2 img{

        overflow : hidden;
    }
    
    #video-play-btn{
        height : 18vw;
        width : 18vw;
        top : 50%;
        left : 50%;
    }
    
    #video-play-btn img{
        height : 2.5vw;
        width :  2.5vw;
    }
    #page3{
        min-height : 100vh;
        width : 100%;
        background-color : #151515;
        margin-top: 10vw;
        padding : 4.3vw;
        position: relative;
    
    }
    #page3 h1::before{
            content : "02";
            font-family: "silk serif";
            position : absolute;
            left : 23vw;
            top : -1%;
            font-size: 4vw;
            font-weight: 500;
    }
    #page3 h1{
        font-size : 8vw;
    }
  #page4 h1, #page6 h1{
        font-size : 7vw;
        font-family : "plain light";
        font-weight : 600;
        text-transform: uppercase;
        margin-left : 27vw;
        letter-spacing: 2px;
        
    }
    .underline{
        height : .1vw;
        width : 68%;
        background-color : gray;
        margin-left : 27vw;
        margin-top : 3vw;
        margin-bottom : 4vw;
    
    }
    .line1{

        display : flex;
    }
    .box{
        height : 50vh;
        width : 44vw;

    
    }
    .box h2{

        font-size : 3vw;
    
        font-weight: 600;

    }
    .img-div{
        height : 50vh;

    }
    .img-div img{
        width : 100%;
        height : 100%;
        -o-object-fit : cover;
           object-fit : cover;
    }
    .box:nth-child(2),.box:nth-child(5),.box:nth-child(6),.box:nth-child(9){
        width : 44vw;
        height : 50vh;
    }
    .box:nth-child(2) .img-div,.box:nth-child(5) .img-div{
        height : 39.5vh;
    }

    #name-year h5, h3{
        font-size : 2vw;
        font-weight : 600;
    }
    #page2-content{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        -ms-flex-wrap : wrap;
            flex-wrap : wrap;
        gap : 2vw;
    }
    
    .box:nth-child(3){

        display : none;
    
    
    }
    .box:nth-child(8){

                display : none;
    }



    .box:nth-child(4){
        display : none;
    }
    
    .box:nth-child(4) img{
        rotate : -10deg;
    }
    
    .box:nth-child(6){
        margin-top : 0vw;
    }
    .box:nth-child(6) .img-div{
        height : 39.5vh;
    }
    .box:nth-child(9){
        margin-top : 0vw;
    }
    .box:nth-child(9) .img-div{
        height : 39.5vh;
    }
    .box:nth-child(7){
        margin-top : 0vw;
    }

    .box:nth-child(10) .round h6{

      font-size: 2vw;
  
        
    }
    .box:nth-child(10){
    height : 40vh;
    }

    #page4 h1{
        margin-left : 28vw;
        font-size : 10vw;
    }
    #page4 h1::before{
        top : -2%;
        left : 25%;
        font-size: 4vw;
    }

    #page4 h1::before{
        content : "03";
        font-family: "silk serif";
        position : absolute;
        top : -5%;
        left : 30%;
        font-size: 3vw;
        font-weight: 500;
    }
    #page4 {
        min-height : 100vh;
        margin-top: 0vw;

    }
    #page4-content{
        margin-left  : 0vw;

    }
    #page4-img{
        height : 90vw;
        width : 90vw;
        position : relative;
        padding : 10vw;
    }
    #page4-img img{
        height : 100%;
        width : 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    #first-p p{
        font-size : 2.5vw;
        width : 100vw;
        line-height: 3.5vw;
        font-weight: 400;  
        padding : 2vw;
    }
    #second-p p{
        font-size : 2.5vw;
        font-family : "plain light";
        line-height: 2.5vh;
        font-weight: 400;
        
    }
    #page4-part2{

        flex-direction : column;
        gap : 32vw;

    }
    #second-p{
        padding : 2vw;
        width : 100vw;
        margin-left : 0vw;
        
    }
    #blue-content{

        height : 65vw;
        width : 70vw;

        top : 60%;
        left : 25%;
        
    }
    .column{
        height : 10.5vw;
        width : 100%;
        display : -webkit-box;
        display : -ms-flexbox;

    }
    .column h3{

        font-size : 2.5vw;
        font-weight: 600;
    }
    .column h5{
        width : 38%;
        font-size : 2vw;
    
    }
    #page5{
        min-height : 35vh;
    }
    #page5 h5{
        font-size : 3vw;
    }
    .elem, .elem2{
        overflow-x : auto;
        white-space : nowrap;
        margin : -3vw;
        
    }
    .elem h1, .elem2 h1{

        font-size: 12vw;
        font-weight: 400;
    
    }

    #page6{
        margin-top: 15vw;
        min-height : 40vh;
        width : 100%;
        background-color :#151515; 
        position : relative;
    }
    #page6 h1{
        font-size : 10vw;
    }
    #page6 h1::before{
        content : "04";
        font-family: "silk serif";
        position : absolute;
        left : 20%;
        top : -10%;
        font-size: 4vw;
        font-weight: 500;
    }
    #footer{
        display : -webkit-box;
        display : -ms-flexbox;
        display : flex;
        margin-left : 0vw;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    #footer{
        font-family : "plain light";
        padding : 5vw;
    }
    #email{
        margin-right : 6vw;
    }
    #social h6,#Address h6,#email h6{
        font-size : 2vw;
        font-weight: 500;
        margin-bottom: 1vw;
    }
    
    #social h2,#Address h2, #email h2{
        font-weight: 500;
        font-size: 2.8vw;
    }
    #email h2{
        text-decoration: underline;
    }
    #page6 h3{
        font-weight: 500;
        margin-left: 27vw;
        margin-bottom: 3vw;
        margin-top: -1vw;
    }
    
}